<%= form_with(model: @user) do |form| %>
  <table class="table mt-3">
    <% if current_user.can_edit_users? %>
      <!-- Поля для администратора -->
      <tr>
        <td><%= form.label :email %></td>
        <td><%= form.email_field :email, class: 'form-control' %></td>
      </tr>
      <tr>
        <td><%= form.label :role %></td>
        <td><%= form.select :role, User.roles.keys, class: 'form-control' %></td>
      </tr>
    <% end %>

    <!-- Поля для всех пользователей -->
    <tr>
      <td><%= form.label :password %></td>
      <td><%= form.password_field :password, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= form.label :password_confirmation %></td>
      <td><%= form.password_field :password_confirmation, class: 'form-control' %></td>
    </tr>
  </table>

  <div class="actions mt-3">
    <%= form.submit 'Сохранить', class: 'btn btn-primary' %>
  </div>
<% end %>
