<h1>Список пользователей</h1>

<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Роль</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td>
        <%= link_to 'Просмотр', user %>
        <%= link_to 'Редактировать', edit_user_path(user) %>
        <%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Вы уверены?' } %>
        <% if current_user.admin? && !user.admin? %>
          <%= link_to 'Назначить администратором', update_role_user_path(user), method: :patch, data: { confirm: 'Вы уверены?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Создать пользователя', new_user_path %>
