<!-- edit_text_content.html.erb -->

  <%= form_for [@uploaded_file.project, @uploaded_file], url: update_text_content_project_file_path(@uploaded_file.project, @uploaded_file), method: :patch do |f| %>

  <h4>Файл: <%= @uploaded_file.name %></h4>
  <div class="form-group">
      <p><%= f.label "Текст для корректировки:" %></p>
      <%= f.text_area :text_content, class: 'form-control h-100', rows: 26 %>
    </div>

    <div class="row ">
      <div class="col-auto">
        <%= f.submit 'Сохранить ', class: 'btn btn-primary mt-3' %>
      </div>
    </div>

  <% end %>

<div class="row mt-3">
  <div class="col-auto">
    <table class="table table-borderless">
      <tr>
        <td><%= button_to upload_file_content_project_file_path(@uploaded_file.project, @uploaded_file), method: :post, class: 'btn btn-warning' do %>
            Загрузить
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "<< Назад", session[:return_to] || root_path, class: "btn btn-primary" %>
        </td>
      </tr>
    </table>
  </div>
</div>

