<!-- edit_text_content.html.erb -->

  <%= form_for [@uploaded_file.project, @uploaded_file], url: update_text_content_project_file_path(@uploaded_file.project, @uploaded_file), method: :patch do |f| %>
    <div class="form-group">
      <h4><%= f.label "Текст для корректировки:" %></h4>
      <%= f.text_area :text_content, class: 'form-control h-100', rows: 26 %>
    </div>

    <div class="row ">
      <div class="col-auto">
        <%= f.submit 'Сохранить TXT', class: 'btn btn-primary mt-3' %>
      </div>
      <div class="col mt-4">
        <p>Внимание!!! Чтобы обновить OCR текст нужно сохранить</p>
      </div>
    </div>

  <% end %>

<div class="row">
  <div class="col-auto">
    <table class="table table-borderless">
      <tr>
        <td> Загрузить данные из OCR файла </td>
        <td><%= button_to upload_file_content_project_file_path(@uploaded_file.project, @uploaded_file), method: :post, class: 'btn btn-warning' do %>
            Загрузить
          <% end %>
        </td>
      </tr>
      <tr>
        <td> Обновить PDF файл текстовыми данными OCR</td>
        <td><%= button_to create_pdf_project_file_path(@uploaded_file.project, @uploaded_file), method: :post, class: 'btn btn-warning' do %>
            Обновить
          <% end %></td>
      </tr>
      <tr>
        <td> Вернуться к списку файлов </td>
        <td><%= link_to project_path(@project), class: "btn btn-primary", target: "new_file" do %>
               <<   Назад
          <% end %></td>
      </tr>
    </table>
  </div>
</div>

