<h1>New Uploaded File</h1>

<%= form_with(model: [ @project, @uploaded_file ], url: project_files_path(@project), local: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.file_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', project_files_path(@project) %>
