<h2>Добавление файлов в группу документов</h2>
<h1><%= @project.name %></h1>

<%= form_with(model: [ @project, @uploaded_file ], url: project_files_path(@project), local: true, target: "new_file", class: "needs-validation", novalidate: true) do |form| %>
  <div class="mb-3">
    <%= form.file_field :content, class: "form-control", required: true %>
    <div class="invalid-feedback">Выберите файл для загрузки.</div>
  </div>

  <div class="mb-3">
    <%= form.submit "Добавить файл", class: "btn btn-primary mt-3" %>
    <%= link_to 'Назад', project_path(@project), class: "btn btn-primary mt-3", target: "new_file" %>
  </div>
<% end %>



