<!--app/views/projects/_compare_results.html.erb-->
<turbo-frame id="flash-messages">
  <%= turbo_stream_from 'flash-messages' %>
</turbo-frame>


<% if results.present? %>
  <h1 class="mt-4">Comparison Results</h1>
  <table class="table table-bordered mt-2">
    <thead>
    <tr>
      <th>№ стр</th>
      <th>строка для поиска</th>
      <th>% совпадений</th>
      <th>№ стр</th>
      <th>результат поиска</th>

    </tr>
    </thead>
    <tbody>
    <% results.each do |result| %>
      <tr>
        <td><%= result[1]["num_str1"] %></td>
        <td><%= raw result[1]["row1"] %></td>
        <td class="text-center"><%= raw result[1]["sum_all"] %></td>
        <td><%= result[1]["num_str2"] %></td>
        <td><%= raw result[1]["row2"] %></td>

      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="mt-3">
    <%= link_to 'очистить', @project, class: "btn btn-secondary mt-4" %>
  </div>

<% end %>

