<%= form_with(url: compare_project_path(@project), method: :post, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :file1_id, 'File 1' %>
    <%= form.select :file1_id, options_from_collection_for_select(@project.uploaded_files, 'id', proc { |uf| uf.content.filename.to_s }),
                    prompt: 'Выберите файл', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :file2_id, 'File 2' %>
    <%= form.select :file2_id, options_from_collection_for_select(@project.uploaded_files, 'id', proc { |uf| uf.content.filename.to_s }),
                    prompt: 'Выберите файл', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :start_line1, 'Start Line for File 1' %>
    <%= form.number_field :start_line1, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :end_line1, 'End Line for File 1' %>
    <%= form.number_field :end_line1, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :start_line2, 'Start Line for File 2' %>
    <%= form.number_field :start_line2, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :end_line2, 'End Line for File 2' %>
    <%= form.number_field :end_line2, class: 'form-control' %>
  </div>
  <div class="mt-3">
    <%= form.submit 'Compare', class: "btn btn-primary" %>
  </div>
<% end %>

<turbo-frame id="results">
  <%= render 'compare_results', results: @results %>
</turbo-frame>
