<!--app/views/projects/_file_table.html.erb-->

<% if !project.new_record? %>

  <h4>Прикрепленные файлы: </h4>
  <div class="mb-3">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Имя файла</th>
        <th scope="col">Скачать</th>
        <th scope="col">Просмотреть</th>
        <th scope="col">Распознано</th>
        <th scope="col">Редактировать</th>
        <th scope="col">Дата загрузки</th>
        <th scope="col">Удалить</th> <!-- Новая колонка -->
      </tr>
      </thead>
      <tbody>
      <% project.uploaded_files.each do |uploaded_file| %>
        <tr>
          <td><%= uploaded_file.content.filename %></td>
          <td><%= link_to "Скачать", rails_blob_path(uploaded_file.content, disposition: "attachment") %></td>
          <td><%= link_to "Просмотреть", rails_blob_path(uploaded_file.content), target: "_blank" %></td>
          <td>
            <% if uploaded_file.processed_file.attached? %>
              <%= link_to "OCR", rails_blob_path(uploaded_file.processed_file), target: "_blank" %>
            <% else %>
              Файл не распознан
            <% end %>
          </td>
          <td>
            <%= link_to 'Редактировать', edit_text_content_project_file_path(uploaded_file.project, uploaded_file) %>
          </td>

          <td><%= uploaded_file.created_at.to_s(:db) %></td>
          <td>
            <%#= button_to "Удалить", project_file_path(project, uploaded_file), method: :delete,data: { confirm: 'Вы уверены, что хотите удалить этот файл?' }, class: 'btn btn-danger' %>
            <%= button_to "Удалить", project_file_path(project, uploaded_file), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить этот файл?' }, class: 'btn btn-danger' %>

          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<%= link_to 'Добавить файлы', new_project_file_path(@project), class: "btn btn-primary mt-3", target: "new_file" %>
<% end %>