<!--app/views/projects/_form.html.erb-->

<%= form_with(model: project, local: true) do |form| %>
<% puts "@project.errors #{@project.errors.inspect}" %>
  <% if @project.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% puts "message =====  #{message}" %>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3">
    <% if @project.new_record? %>
      <strong>Дата создания: </strong> <%= format_datetime(Time.current.localtime) %>
    <% else %>
      <strong>Последнее обновление: </strong> <%= format_datetime(@project.updated_at) %>
    <% end %>
  </div>

  <div class="mb-3 row">
    <div class="col-auto text-center">
      <h3>
        <%= form.label :name, "Наименование", class: "form-label" %>
      </h3>
    </div>
    <div class="col">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>


  <%= render 'file_table', project: @project %>


  <div class="mb-3 mt-3 form-inline">
    <%= form.label :comment, "Комментарий", class: "form-label" %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>

  <div class="actions">
    <%= link_to "< На главную", projects_path, class: "btn btn-primary mt-3 " %>
    <%= form.submit "Сохранить", class: "btn btn-primary mt-3 ", url: root_path %>
    <% if !@project.new_record? %>

      <%= link_to 'Сравнение >', compare_form_project_path, class: "btn btn-primary mt-3" %>
    <% end %>

  </div>
<% end %>

