<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3">
    <%= form.label :name, "Наименование", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :comment, "Комментарий", class: "form-label" %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>


  <div class="mb-3">
  <% if @project.new_record? %>
      <strong>Дата создания: </strong> <%= format_datetime(Time.current.localtime) %>
  <% else %>
      <strong>Последнее обновление: </strong> <%= format_datetime(@project.updated_at) %>
  <% end %>
  </div>


  <%# if !@project.new_record? %>
<!--    <div class="mb-3">-->
      <%#= form.label :files, "Прикрепленные файлы", class: "form-label" %>
<!--      <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th scope="col">Имя файла</th>-->
<!--          <th scope="col">Скачать</th>-->
<!--          <th scope="col">Просмотреть</th>-->
<!--          <th scope="col">Дата загрузки</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
        <%# @project.files.each do |file| %>
<!--          <tr>-->
<!--            <td><%#= file.filename %></td>-->
<!--            <td><%#= link_to "Скачать", rails_blob_path(file, disposition: "attachment") %></td>-->
<!--            <td><%#= link_to "Просмотреть", rails_blob_path(file), target: "_blank" %></td>-->
<!--            <td><%#= file.created_at.to_s(:db) %></td>-->
<!--          </tr>-->
        <%# end %>
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
  <%# end %>


<!--  <div class="mb-3">-->
    <%#= form.label :files, "Добавить файлы", class: "form-label" %>
    <%#= form.file_field :files, multiple: true, class: "form-control" %>
<!--  </div>-->



  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
