<!--app/views/projects/compare_new_results.html.erb-->

<%# if @results.present? %>
  <div class="row ">
    <div class="col-auto text-center">
      <h4 class="mt-2">Результат сравнения при совпадении >= <%= session[:compare_params]["percent"] %>%</h4>
    </div>
    <div class="col ms-auto text-end">
      <%= link_to '< Назад',  compare_form_project_path(@project), class: "btn btn-warning" %>
    </div>
  </div>

<div class="row mt-3 text-center align-items-center " style="background-color: var(--bs-primary); color: white;">
  <div class="col h-100">
    <div class="d-flex justify-content-center align-items-center h-100 py-3">
      <strong><%= @name_file1.name%> : </strong>
      <%= link_to 'pdf', rails_blob_path(@name_file1.content), target: "_blank", style: "background-color: var(--bs-primary); color: aqua;", class: "ms-3" %>
      <%= link_to 'OCR', edit_text_content_project_file_path(@project, @name_file1.id), style: "background-color: var(--bs-primary); color: yellow;", class: "ms-3" %>
    </div>
  </div>
  <div class="col h-100">
    <div class="d-flex justify-content-center align-items-center h-100 py-3">
      <strong><%= @name_file2.name%> : </strong>
      <%= link_to 'pdf', rails_blob_path(@name_file2.content), target: "_blank", style: "background-color: var(--bs-primary); color: aqua;", class: "ms-3" %>
      <%= link_to 'OCR', edit_text_content_project_file_path(@project, @name_file2.id), style: "background-color: var(--bs-primary); color: yellow;", class: "ms-3" %>
    </div>
  </div>
</div>

  <table class="table table-bordered ">
    <thead>
    <tr>
      <th>№ стр</th>
      <th>строка для поиска</th>
      <th>% совпадений</th>
      <th>№ стр</th>
      <th>результат поиска</th>

    </tr>
    </thead>
    <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result[1]["num_str1"] %></td>
        <td><%= raw result[1]["row1"] %></td>
        <td class="text-center"><%= raw result[1]["sum_all"] %></td>
        <td><%= result[1]["num_str2"] %></td>
        <td><%= raw result[1]["row2"] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<div class="row ms-auto text-end">

<!--  <div class="col ms-auto text-end">-->
    <%= link_to '< Изменить параметры для сравнения файлов',  compare_form_project_path(@project), class: "btn btn-warning" %>
<!--  </div>-->
</div>



<%# end %>

