<h3>Группа документов:  <%= @project.name %></h3>
<%= form_with(url: compare_project_path(@project), method: :post, local: true) do |form| %>

  <div class="row align-items-center">
    <div class="col">
      <div class="form-group">
        <%= form.label :file1_id, 'Файл №1 (шаблон)' %>
        <%= form.select :file1_id, options_for_select(@file_options, @compare_params['file1_id']), { prompt: 'Выберите файл' }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= form.label :start_line1, 'Начальная строка, №' %>
        <%= form.number_field :start_line1, class: 'form-control', value: @compare_params['start_line1']  %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= form.label :end_line1, 'Последняя строка, №' %>
        <%= form.number_field :end_line1, class: 'form-control', value: @compare_params['end_line1']  %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= form.label :file2_id, 'Файл №2 (поиск)' %>
        <%= form.select :file2_id, options_for_select(@file_options, @compare_params['file2_id']), { prompt: 'Выберите файл' }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= form.label :start_line2, 'Начальная строка, №' %>
        <%= form.number_field :start_line2, class: 'form-control', value: @compare_params['start_line2'] %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= form.label :end_line2, 'Последняя строка, №' %>
        <%= form.number_field :end_line2, class: 'form-control', value: @compare_params['end_line2'] %>
      </div>
    </div>
  </div>

  <div class="form-group row mt-3">
    <%= form.label :percent, 'Минимальный процент совпадений, %:', class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-8 ">
        <%= form.number_field :percent, class: 'form-control blue-yellow-text-bold', min: 0, max: 100, style: 'width: 5rem;', value: @compare_params['percent']||50 %>
    </div>
  </div>

  <div class="actions">
    <%= link_to "< Вернуться ", @project,  class: "btn btn-primary mt-3" %>
    <%= form.submit 'Сравнить >>', class: "btn btn-primary mt-3" %>
  </div>
<% end %>


