<h1>Edit Project</h1>

<%= render 'form', project: @project %>
<%= render 'file_table', project: @project %>
<%= link_to 'Add Files', project_files_path(@project), class: "btn btn-primary" %>
<%= render 'compare_form' %>
<%= link_to 'Back', projects_path, class: "btn btn-secondary" %>



