
<h1>Группа документов: <%= @project.name %></h1>


<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary" %>
<%= link_to 'Back', projects_path, class: "btn btn-secondary" %>


<%= render 'compare_form' %>

<turbo-frame id="results">
  <%= render 'projects/compare_results', results: @results %>
</turbo-frame>
