<!DOCTYPE html>
<html>
  <head>
    <title>FileComparisonApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <div class="container container-fluid mt-5 page-content">
    <%= render 'shared/flash_messages' %>
    <%= yield %>
  </div>
  <div class="mt-5">
    <br>
  </div>
  </body>
</html>
